/* *{
    padding: 0;
    margin: 0;
} */
body{
    margin: 50px auto;
    width: 90%;
}
ul{
    list-style: none;
    display: flex;
    column-gap: 30px;
    justify-content: flex-end;
    padding: 0;
}
main ul{
    flex-direction: column;
    row-gap: 20px;
}
nav a{
    color: black;
}
h2{
    margin: 10px 0;
}
h3{
    margin: 10px 0;
}
p{
    margin: 12px 0;
}
a{
    font-size: 20px;
    text-transform: capitalize;
    color: blue;
}
footer{
    text-align: center;
}
.sub{
    position: sticky;
    top: 10px;
    text-align: right;
    
}
.sub a{
    margin-right: 20px;
    color: black;
}
.all{
    padding-bottom: 2000px;
}